In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, time, timezone,date

In [2]:
Past_df = pd.read_csv('Data/Housing_Zillow_Past.csv')

In [3]:
Past_df.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'City', 'Metro', 'CountyName', '2000-01-31',
       ...
       '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30',
       '2023-10-31', '2023-11-30', '2023-12-31', '2024-01-31', '2024-02-29'],
      dtype='object', length=299)

In [4]:
Past_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26353 entries, 0 to 26352
Columns: 299 entries, RegionID to 2024-02-29
dtypes: float64(290), int64(3), object(6)
memory usage: 60.1+ MB

In [5]:
null_counts = Past_df.isnull().sum()
max_null_column = null_counts.idxmax()
max_null_count = null_counts[max_null_column]
print(max_null_count)
print(max_null_column)
average_null_counts = null_counts.mean()
print(average_null_counts)

13458
2000-01-31
6520.207357859532

In [6]:
Forecast_df=pd.read_csv('Data/Zillow_Housing_Forecast.csv')

In [7]:
Forecast_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,BaseDate,2024-03-31,2024-05-31,2025-02-28
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,2024-02-29,0.4,0.3,-0.1
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,2024-02-29,0.5,1.4,-0.5
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,2024-02-29,0.4,0.5,-0.2
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2024-02-29,0.2,0.5,-1.0
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2024-02-29,0.3,0.3,-0.2

Is the average price of the home increasing or roughly staying the same? Group By State.

In [8]:
Past_df.shape

(26353, 299)

In [9]:
Past_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,210077.000246,...,474580.751007,477700.023919,480490.175686,482965.054900,484784.135611,486023.522915,486713.787606,487327.752727,488702.818402,490863.655271
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,137227.265500,...,539802.494668,545735.752680,551838.382379,557728.003874,564047.841208,571383.080659,578179.883051,582945.046770,584527.859569,587083.885915
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,103358.701090,...,275667.463240,276046.471281,276807.503132,277704.317637,278238.181709,278227.970902,277993.093814,277702.060665,278056.292900,278755.327431
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,146558.052897,...,463122.443843,457780.560712,455976.188384,455970.300511,455418.562614,453412.439800,450092.281523,445849.486595,443049.463008,441461.718399
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,102016.821579,...,269425.329064,270023.265648,270866.796469,271740.075276,272168.214713,272158.564737,271738.097724,271316.067046,271361.964052,271885.730062

In [29]:
def melt_data(df):
    melted = pd.melt(Past_df, id_vars=['ZipCode'], var_name='Month', value_name = 'MeanValue')
    melted['Month'] = pd.to_datetime(melted['Month'], format = '%Y/%m/%d')
    melted = melted.dropna(subset=['MeanValue'])
    return melted
melted

NameError: name 'melted' is not defined

In [19]:
State_Grouped_df = Past_df.groupby("State").mean(numeric_only= True)
State_Grouped_df

,RegionID,SizeRank,RegionName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,...,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29
State,,,,,,,,,,,,,,,,,,,,,
AK,106775.300000,14617.100000,99644.220000,148256.912645,148840.359165,149208.589671,149763.796926,150073.663373,150302.786118,150874.341247,...,327559.680484,328808.059242,330114.044653,331203.435900,331081.230451,330535.654998,329852.827279,329157.284048,329440.025451,330353.011599
AL,73660.628405,12851.381323,35912.396887,98524.205007,98521.943562,98598.120392,99430.760374,97037.626692,96597.278154,96817.525971,...,201040.646008,202387.418651,202943.551932,202734.850747,202341.918285,200924.647124,200637.093060,198738.996148,198536.783288,198250.974615
AR,92801.790164,13637.603279,72324.442623,81610.231962,81686.879832,81775.736588,82002.214027,82225.799831,82459.266795,82672.870429,...,177575.383207,179037.614804,179847.007752,179949.601019,180026.522107,179621.636584,179328.660250,175246.399915,174947.332733,175006.962752
AZ,125406.690000,8860.873333,85531.750000,137010.151463,137234.416510,137543.128542,138185.865980,138845.730345,139517.087942,140166.300696,...,415627.448163,418034.611743,420716.345428,423367.128333,425626.110655,427593.489356,426705.179791,429831.034752,430115.434223,430853.992363
CA,98762.890544,9100.599741,93576.728627,248664.589974,249456.512770,250689.339945,253497.398795,256775.334562,260360.919888,264177.289608,...,810664.702953,815896.790047,823388.213985,832057.224324,840338.541818,846598.295694,850347.406713,851617.379345,849682.410512,847266.866844
CO,98671.290865,13996.451923,80747.793269,180386.617204,180948.521134,181522.585133,182897.274404,184473.332487,186304.816226,188148.881174,...,521539.240176,523694.564221,525893.779071,527822.598484,529527.474456,530710.588536,531364.847383,530194.355681,529581.880298,529631.049141
CT,60291.949807,10831.316602,6419.934363,173712.155340,173515.333075,174184.519440,175394.656411,176463.819078,177673.544750,178943.366637,...,433921.333757,438789.035133,444286.537616,450072.328715,455351.745224,459392.768657,462653.979481,465025.144043,466879.314286,469156.114234
DC,66137.045455,5936.954545,20014.181818,183327.508156,184105.910299,185130.548652,187251.098964,189539.684461,191730.934969,193698.698275,...,657235.318605,658021.072523,659791.214730,661315.302423,661258.691826,660070.397112,657816.205750,655518.829281,652751.030312,651536.639367
DE,66080.491525,10975.762712,19870.711864,141840.378689,142137.464811,142533.243629,143364.406877,144299.681611,145378.792513,146615.635478,...,385088.164254,386373.198507,387339.528352,388585.305178,389588.004307,390270.524193,390853.152686,391268.993081,391533.105073,391530.386371
FL,78167.284632,7513.198052,33311.466450,117677.840350,117843.197779,118166.917668,118832.891175,119557.715823,120288.277752,121015.279232,...,410008.742720,411760.552874,413429.946504,415042.236759,416129.080781,417224.101922,418411.247488,419619.063183,420515.629447,421633.441393
GA,71443.720301,11339.396992,31204.666165,110820.873734,111147.227487,111364.695705,112003.383022,112710.764713,113451.216733,114193.676306,...,254116.857397,256048.877543,257731.845462,259238.554966,260745.877969,261855.466143,262995.178823,263667.875718,264073.159273,264514.153642
HI,98896.205128,11780.192308,96759.641026,219835.396737,218061.445701,218638.741418,219447.579038,220780.251437,222023.418648,223270.574075,...,848820.921152,852191.821559,854597.019434,857343.535025,859905.291170,857775.797466,856142.272322,848190.897951,848965.493750,849093.742599
IA,81021.945521,20376.101695,51271.082324,101845.520970,102109.183244,102359.389165,102863.033473,103430.530070,103951.968331,104448.921410,...,187868.788664,189104.307741,190024.224791,190764.936293,191243.198032,191621.351000,191787.595586,191645.258709,191574.233832,191907.918567
ID,95714.798030,16706.315271,83547.418719,98686.863632,98622.540598,98626.903222,98709.751455,99075.179151,99512.417723,100056.884871,...,434549.831773,436111.958656,437202.324876,438708.335099,440191.630270,440859.147771,441062.253190,438614.524652,437829.804047,438591.312918
IL,88297.484793,14461.912442,61469.210138,153027.220482,152122.713615,151217.764296,151306.011534,152121.321939,153008.505528,153909.042180,...,197511.009208,199127.315650,200555.167235,201772.041292,202616.117507,201656.879572,201293.277071,201307.332465,200449.083241,201147.565132
IN,78376.461318,14777.431232,46965.573066,90126.305881,89076.548859,88833.164171,89255.029686,89501.409352,89880.522102,89757.983387,...,206929.556979,209118.698465,210692.761084,211833.445393,212519.866824,212849.335613,212925.742408,212676.695273,213049.001991,213933.514807
KS,87405.658252,18510.912621,66964.844660,89905.953573,89837.005108,89856.548960,89880.581143,90121.381046,90541.078414,91119.525562,...,172481.325416,173820.388615,174963.859336,176098.092447,177195.727119,178041.199782,178403.082529,178224.179924,177882.308412,178034.080431
KY,75976.972492,16797.024272,41346.186084,85493.538932,85621.437323,85689.334380,85831.821726,86121.712640,86458.668437,86824.687329,...,150865.894197,151695.464530,152023.159072,151698.773549,151530.558000,151416.640426,151790.795321,152029.226454,151879.327223,152022.419155
LA,88755.618497,11186.040462,70739.933526,114481.960181,114525.926905,114545.515695,114574.706224,114749.426630,114959.311573,115293.697796,...,183144.598868,182762.959448,181839.493709,180654.103745,179550.343355,178549.881102,177414.528841,175657.762820,174085.509094,173822.763272
MA,58542.119588,10891.035052,1874.649485,205486.623219,205811.479908,206607.868179,208210.968775,209933.348209,211797.508293,213962.421993,...,603813.388027,610547.626827,616973.050247,622955.188967,628027.813736,632022.821494,634839.154766,636706.727392,637829.039164,639607.122602
MD,66802.576832,13070.340426,21225.536643,170794.452451,170347.162393,170493.355731,170913.446010,171639.553670,172566.393858,173686.095422,...,436737.458537,440011.718800,442696.359312,444695.146695,445875.872226,446644.121167,447103.531701,447412.532080,447511.186488,448638.616405
ME,59517.874598,17545.607717,4471.327974,116707.727661,117023.317473,117247.227960,117777.628766,118237.940752,118881.836983,119583.396868,...,327590.915445,331206.367310,334101.609499,336598.482250,338758.869934,340523.806166,341257.111900,341070.550739,340806.749861,341245.154886
MI,80183.587444,13100.952915,48935.304933,122239.746493,122311.480713,122542.310209,122993.281840,123690.251427,124457.465804,125374.614214,...,230318.124523,231808.541301,232757.286949,233569.959651,234146.149517,234453.559542,234500.886335,234451.240704,234347.479350,235116.022179
MN,82967.407510,16214.794159,55893.687065,138645.052968,139031.930266,139512.900770,140622.862845,141854.911031,143143.188633,144519.957504,...,277746.243336,279363.918522,280436.017266,281039.243639,281525.026469,281596.291841,281459.895144,280643.875682,280282.105194,280443.749428
MO,87314.947644,15921.941099,64423.713351,116941.625602,116679.912965,116838.944667,117189.593394,117673.082522,118178.524361,118977.492843,...,217537.214022,219255.927390,220485.758543,221551.139014,222385.289955,222354.623057,222064.049976,221684.333412,221255.968931,221820.719135
MS,75173.423188,14249.889855,39165.562319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,145782.648753,146640.803082,146951.150573,146698.734844,146450.752513,145964.776688,145208.038563,143951.003460,142676.266812,143069.656441
MT,84087.339056,20527.000000,59517.982833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,401652.236635,406741.380284,410490.314757,412729.903169,414389.493158,414897.418533,415190.272675,415118.933701,416080.500496,418899.679039
NC,70178.450000,11833.436111,28057.736111,117787.953042,117997.457659,118103.574036,120107.095767,120299.852558,120976.146487,121426.035552,...,288670.218466,290874.569713,292740.860427,294448.525207,295960.681332,297111.876948,298645.985626,297821.455149,297787.802201,297889.398118
ND,83653.858407,19001.823009,58405.283186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,218333.573002,218421.174716,217854.503556,217543.804499,216341.023784,213780.004305,211031.156569,211778.914694,209863.843005,209916.040527
NE,88093.471092,20532.758030,68626.453961,129401.370853,129554.569403,129732.437353,130053.612713,130385.369982,130580.724028,131007.800307,...,215856.097512,217742.167630,219107.973946,219783.183477,219896.786128,219762.583041,219710.561085,219330.882568,219856.049608,220480.143923
NH,62083.030303,16137.835498,3486.939394,132514.057714,132057.815364,132588.785126,133458.777407,134405.097128,135432.587672,136716.794129,...,430962.626549,435671.993271,440472.046144,445389.790595,449957.462010,453446.340009,455496.856909,456488.577741,456856.199507,458113.271516
NJ,60872.049360,9692.058501,7916.213894,193065.501760,193625.390867,194219.016187,195517.784255,196921.418967,198595.797488,200414.130381,...,546615.835854,552619.941060,557547.273032,561512.080365,564563.587310,567479.678303,570483.585820,573390.925855,576065.562205,579950.107756
NM,100075.084416,15216.779221,87676.551948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,280968.864343,282765.716466,283660.689169,284302.482708,284826.026531,282390.181788,284865.033291,281964.914988,281760.720365,281725.292146
NV,114265.503759,9460.142857,89262.992481,180665.025198,181088.117534,181548.925534,182566.205825,183616.872995,184609.998400,185498.542071,...,456136.130871,456722.936073,458267.373028,460545.509191,462497.659787,464347.747280,465296.036394,466924.382072,467981.421444,469086.188181
NY,63190.368758,14446.402689,12729.845070,134730.251038,134997.686580,135491.355841,136693.716507,137873.010329,139194.491990,140496.305351,...,403800.096872,406322.137290,408791.406789,410932.737909,412667.525548,414020.717560,415026.340188,414770.335029,415401.450093,416523.731608
OH,77173.534180,13320.048828,44462.064453,102151.292936,102216.417894,102338.499218,102566.011152,102997.082583,103426.539382,103909.801587,...,200943.346671,202875.767398,204497.263091,205626.518458,206475.401911,207050.485597,207648.393159,208011.704885,208288.130952,208888.225055
OK,91455.023904,15882.984064,73937.143426,68790.364500,68778.636286,68879.507401,69084.371881,69365.422365,69682.281989,70039.488800,...,163106.466025,163954.694309,164401.756380,164498.447186,164587.018407,164817.952865,165208.781553,165431.893863,165339.200496,165396.307744
OR,106596.088496,13975.651917,97385.501475,152344.798351,152612.600909,152565.917558,153132.367230,153713.240253,154250.719764,154721.333185,...,446610.799146,448919.344275,450883.622118,452417.812460,453116.650883,452329.333545,452035.833755,451545.359926,450922.414793,450720.126979
PA,66389.538012,14878.148392,17182.282895,109245.655702,109513.530329,109743.902391,110236.372066,110739.297703,111293.230030,111881.393569,...,234582.774557,236103.234103,237580.503040,238945.514882,240021.755736,240051.429551,238538.693449,238812.258563,238872.866920,239522.240559
RI,58951.275362,10135.869565,2864.739130,136868.248113,137522.027915,138201.185904,139595.795001,141049.493954,142274.128720,143442.766386,...,465103.753006,470388.363664,475574.370758,479929.041906,483651.803191,486722.014969,489316.782595,491656.055606,492944.319296,494264.011146
SC,73332.935933,11422.997214,29470.111421,116158.186590,115904.149839,116496.042459,117101.709578,117749.379066,118591.516297,119352.275401,...,261124.945058,262554.560697,263694.536429,264650.509167,265366.223911,264891.356104,263456.260134,263948.379068,262709.305254,263307.809465
SD,83219.333333,18398.884354,57300.258503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,271877.988960,273270.062323,273497.237525,273192.580168,272518.265880,271509.252144,270833.785593,269575.667802,271266.002100,271767.402416
TN,74496.880952,13058.178571,37779.056122,92026.676656,91926.231709,91979.382261,92134.625157,92367.226584,92645.908315,92968.112895,...,263840.825533,265683.333167,267254.302495,268840.677347,270385.039461,271525.132289,272572.570296,272689.431738,271897.751779,271624.197236
TX,94181.692156,10605.691496,77246.158866,131840.155172,131914.941351,131954.787625,132124.354664,132402.685307,132530.329007,132634.850303,...,281501.858223,282516.831302,283212.059422,283626.096119,283487.144563,282876.419345,281887.835950,280641.521751,279835.144465,280124.274235
UT,105997.129032,12713.381720,84349.758065,176753.907422,178215.246518,178338.100329,178624.161078,182564.777300,183743.414548,184521.677660,...,505516.704824,507093.768820,508790.716242,510725.268961,512033.140384,510633.748107,511018.637783,509953.812015,500606.412716,501373.850336
VA,68072.722955,14232.568602,23301.505277,153163.773416,153559.724379,154017.244171,154912.669167,155849.966781,156824.480679,157969.281176,...,331230.046403,334266.209906,336746.984271,338754.043916,340533.178383,341910.482666,343146.194142,343924.087557,339573.091115,340286.455379
VT,61405.475983,20633.938865,5490.000000,114383.635638,114553.506942,114802.101740,115343.975374,115973.633532,116599.195008,117261.496427,...,357404.497357,359462.170654,360969.719711,363604.075114,366476.367549,361039.947993,365598.054678,363955.038271,362813.376173,361731.457202
WA,99846.436214,12372.940329,98581.837449,195780.552081,196208.571547,196708.203924,197718.787793,192877.181572,193795.010702,194831.805531,...,537990.419739,540564.910228,543403.195027,546225.102100,548341.759589,549744.763186,550462.726556,548816.040944,548413.562536,548908.304516
WI,82078.599411,14659.344624,54068.908689,136552.725281,136959.237805,136062.629770,136261.831882,136779.715943,137412.971589,140709.218507,...,273603.351388,275280.744078,275803.134540,276481.020597,277488.041151,277366.834931,277296.239539,276424.310965,276100.536919,276826.180176
WV,70818.422037,19893.291060,25808.945946,76503.769791,76509.550392,76520.487159,76580.102792,76686.600456,76917.255098,77174.308101,...,139388.411852,140642.224483,141527.866000,141936.930414,142046.128102,141945.728491,142021.790701,141560.781850,141112.239829,141637.077491
WY,93953.073684,19334.305263,82593.473684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,407439.467450,411272.376509,414502.494951,418500.195256,422603.266200,426233.403911,428226.347106,428356.576723,428519.452445,429320.216602

In [23]:
State_Group_df = State_Grouped_df.drop(columns = ['RegionID','SizeRank', 'RegionName'])
State_Group_df.head()

,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,2000-10-31,...,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29
State,,,,,,,,,,,,,,,,,,,,,
AK,148256.912645,148840.359165,149208.589671,149763.796926,150073.663373,150302.786118,150874.341247,151315.881280,151536.617171,151170.243738,...,327559.680484,328808.059242,330114.044653,331203.435900,331081.230451,330535.654998,329852.827279,329157.284048,329440.025451,330353.011599
AL,98524.205007,98521.943562,98598.120392,99430.760374,97037.626692,96597.278154,96817.525971,96858.919802,97282.046342,97656.415803,...,201040.646008,202387.418651,202943.551932,202734.850747,202341.918285,200924.647124,200637.093060,198738.996148,198536.783288,198250.974615
AR,81610.231962,81686.879832,81775.736588,82002.214027,82225.799831,82459.266795,82672.870429,82947.785591,83277.777952,83634.618964,...,177575.383207,179037.614804,179847.007752,179949.601019,180026.522107,179621.636584,179328.660250,175246.399915,174947.332733,175006.962752
AZ,137010.151463,137234.416510,137543.128542,138185.865980,138845.730345,139517.087942,140166.300696,140802.763671,141538.216882,142284.989522,...,415627.448163,418034.611743,420716.345428,423367.128333,425626.110655,427593.489356,426705.179791,429831.034752,430115.434223,430853.992363
CA,248664.589974,249456.512770,250689.339945,253497.398795,256775.334562,260360.919888,264177.289608,268223.827576,272345.103041,276187.242104,...,810664.702953,815896.790047,823388.213985,832057.224324,840338.541818,846598.295694,850347.406713,851617.379345,849682.410512,847266.866844

In [27]:
sns.lineplot(data = State_Group_df, x = "Date", y = "Home Values")
plt.title('Trending Videos by Day')
plt.xlabel('Day of Month')
plt.ylabel('Video Views (In Millions)')
plt.xticks(rotation=0)
plt.legend()
plt.tight_layout()
plt.show();

ValueError: Could not interpret value `Date` for parameter `x`